<div class="container">
    <div class="container text-center mt-lg-5">
        <h1 style="color:darkred">All Categories</h1>
    </div>


    <!-- Button trigger modal for Add Category -->
    <button type="button" class="btn btn-success mb-4" data-bs-toggle="modal" data-bs-target="#addCategory">
    Add Category</button>

    <!-- Modal -->
    <div class="modal fade" id="addCategory" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Category</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Category Name</span>
                        <input type="text" class="form-control" aria-label="Category Name" [(ngModel)]="category.categoryName" aria-describedby="basic-addon1">
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Category Image</span>
                        <input type="text" class="form-control" aria-label="Category Image" [(ngModel)]="category.categoryImage" aria-describedby="basic-addon1">
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="addCategory()">Add</button>
                </div>
            </div>
        </div>
    </div>







    <table class="table table-dark table-hover">
        <thead>
            <tr>
                <th scope="col">Category Id</th>
                <th scope="col">Category Name</th>
                <th scope="col">Category Image</th>
                <th scope="col">Update</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let category of categoryList">
                <td>{{category.categoryId}}</td>
                <td>{{category.categoryName}}</td>
                <td><img [src]="category.categoryImage" class="img-thumbnail" alt="..." width="100px" height="100px"></td>
                <td><button type="button" class="btn btn-success mb-4" data-bs-toggle="modal" data-bs-target="#editCategory" data-bs-dismiss="modal">
            Edit</button></td>
                <td><button type="button" (click)="setCategoryId(category.categoryId)" class="btn btn-danger mb-4" data-bs-toggle="modal" data-bs-target="#deleteCategory" data-bs-dismiss="modal">
            Delete</button></td>
            </tr>
        </tbody>
    </table>


    <!--Category delete Modal -->
    <div class="modal fade" id="deleteCategory" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete Category</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p class="modal-title">Are you want to delete this category</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="deleteCategory()">Yes</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>

    <!--Category Edit Modal -->
    <div class="modal fade" id="editCategory" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Category</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Category Name</span>
                        <input type="text" class="form-control" aria-label="Category Name" [(ngModel)]="category.categoryName" aria-describedby="basic-addon1">
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Category Image</span>
                        <input type="text" class="form-control" aria-label="Category Image" [(ngModel)]="category.categoryImage" aria-describedby="basic-addon1">
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="addCategory()">Add</button>
                </div>
            </div>
        </div>
    </div>



</div>