<div class="container">

    <div class="container text-center mt-lg-5">
        <h3 style="color:darkred">Category</h3>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <div class="container mt-lg-5">
                <main class="text-center">
                    <div class="card" style="width: 18rem;">
                        <img src="https://source.unsplash.com/1600x900/?icecream,food" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <a href="#" class="btn btn-primary">See</a>
                        </div>
                    </div>
                </main>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="container mt-lg-5">
                <main class="text-center">
                    <div class="card" style="width: 18rem;">
                        <img src="https://source.unsplash.com/1600x900/?food,apple" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <a href="#" class="btn btn-primary">See</a>
                        </div>
                    </div>
                </main>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="container mt-lg-5">
                <main class="text-center">
                    <div class="card" style="width: 18rem;">
                        <img src="https://source.unsplash.com/1600x900/?icecream,food" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <a routerLink="/item" class="btn btn-primary">Click to see</a>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid justify-content-center">
    <router-outlet></router-outlet>
</div>