<header class="p-3 bg-dark text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <img class="rounded-corners" src="../../assets/images/app-logo.jpg" alt="" width="60" height="50">
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a routerLink="" class="nav-link px-2 text-secondary">Home</a></li>
                <li><a routerLink="" class="nav-link px-2 text-white">Features</a></li>
                <li><a routerLink="" class="nav-link px-2 text-white">FAQs</a></li>
                <li><a routerLink="" class="nav-link px-2 text-white">About</a></li>
            </ul>

            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" *ngIf="customerService.isCustomerLogin">
                <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
            </form>

            <div *ngIf="!customerService.isAuthenticated" class="text-end">
                <a routerLink="/login" class="btn btn-outline-light me-2 ">Login</a>
                <a routerLink="/signup" class="btn btn-warning ">Sign-up</a>
            </div>

            <!-- <div *ngIf="customerService.isCustomerLogin"> -->

            <div *ngIf="customerService.isAuthenticated" class="text-end">
                <!-- Button trigger modal -->

                <button routerLink="/orderHistory" class="btn btn-outline-light me-2 ">Order History</button>
                <button (click)="logout()" class="btn btn-outline-light me-2 ">Log Out</button>
            </div>
        </div>
    </div>
</header>

<div class="container-fluid justify-content-center ">
    <router-outlet></router-outlet>
</div>