<div class="container">
    <main class="text-center">
        <form class="form-signin" (ngSubmit)="onSubmit(signupForm)" #signupForm="ngForm">
            <img class="mb-4 mt-4" src="../../assets/images/images.png" alt="" width="72" height="57">
            <h1 class="h3 mb-3 fw-normal">Create your Account</h1>

            <div class="alert alert-warning" role="alert" *ngIf="isValidForm">
                Please fill all the fields
            </div>

            <div class="form-floating mb-3">
                <input type="text" class="form-control" name="name" id="name" [(ngModel)]="customer.customerName">
                <label for="floatingInput">Name</label>
            </div>
            <div class="form-floating mb-3">
                <input type="email" class="form-control" name="email" id="email" [(ngModel)]="customer.customerEmail">
                <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" name="password" id="password" [(ngModel)]="customer.customerPassword">
                <label for="floatingInput">Password</label>
            </div>

            <div class="form-floating mb-3">
                <input type="number" class="form-control" name="contact" id="contact" [(ngModel)]="customer.customerContact">
                <label for=" floatingInput ">Contact</label>
            </div>
            <div class="form-floating mb-3 ">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" (click)="setGender('Male')">
                    <label class="form-check-label" for="inlineRadio1">Male</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" (click)="setGender('Female')">
                    <label class="form-check-label" for="inlineRadio2">Female</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" (click)="setGender('Other')">
                    <label class="form-check-label" for="inlineRadio2">Other</label>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Signup</button>

        </form>
    </main>

</div>