<div class="container">

    <div class="container text-center mt-lg-5">
        <h3 style="color:darkred">ItemList</h3>
    </div>

    <div class="row">
        <div class="col-sm-4" *ngFor="let item of itemList">
            <div class="container mt-lg-5">
                <main class="text-center">
                    <div class="card" style="width: 18rem;">
                        <img src="{{item.itemImage}}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h3 class="card-title">{{item.itemName}}</h3>
                            <h5 class="card-title">{{item.itemPrice}}</h5>
                            <button class="btn btn-primary" *ngIf="flag" (click)="changeFlag()">Add to Cart</button>
                            <app-modify-item-quantity *ngIf="!flag"></app-modify-item-quantity>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid justify-content-center">
    <router-outlet></router-outlet>
</div>