<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="container mt-lg-5">
                <main class="text-center">
                    <div class="card">
                        <img src="https://source.unsplash.com/1600x900/?icecream,food" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h3 class="card-title">Category</h3>
                            <a routerLink="/employee/category" class="btn btn-primary">Category</a>
                        </div>
                    </div>
                </main>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="container mt-lg-5">
                <main class="text-center">
                    <div class="card">
                        <img src="https://source.unsplash.com/1600x900/?food,food" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h3 class="card-title">Item</h3>
                            <a routerLink="/employee/item" class="btn btn-primary">Item</a>
                        </div>
                    </div>
                </main>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="container mt-lg-5">
                <main class="text-center">
                    <div class="card">
                        <img src="https://source.unsplash.com/1600x900/?tea,food" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h3 class="card-title">Change Order Status</h3>
                            <a routerLink="/employee/order" class="btn btn-primary">Order Status</a>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </div>
</div>